#page-create-orphanage{
    display:flex;
    min-height: 100vh;
}

main {
    flex: 1;
    background: linear-gradient(90deg, #0296a7 0%, #15c3d6 100%);
}

.map-container {
    margin: 0 0 4rem;
}

.map-container .leaflet-container{
    border-radius: 20px 20px 0 0;
}

.map-container footer{
    background: #f5f8fa;
    border-radius: 0 0 20px 20px;
}

.back-orphanages{
    width: 48px;
    height: 48px;
    border: none;
    /* background: #FFD666; cor do icone */
    background: #12afcb;   
    border-radius: 1.6rem;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content:center;

    transition:background-color 0.2s;
}

